extends ./template.pug
block vars
  - var currentPage = 'baba-yaga.html'

block pageTitle
  title #{babaYaga.name} — #{siteTitle}

block content 
  .creature-detail
    h2.creature-detail__heading= babaYaga.name
    img.creature-detail__img(src=babaYaga.img, alt=babaYaga.name, width='300')
    p.creature-detail__text= babaYaga.text
    h3.creature-detail__specs-title Характеристики
    ul.creature-detail__specs
      li.creature-detail__spec
        b Классификация:
        |  #{babaYaga.classification}
      li.creature-detail__spec
        b Место обитания:
        |  #{babaYaga.habitat}
      li.creature-detail__spec
        b Рост:
        |  #{babaYaga.height}
      li.creature-detail__spec
        b Уровень опасности:
        |  #{babaYaga.danger}
