mixin header(links, activePage)
  header.header
    nav.header__nav
      each link in links
        a.header__nav-link(
          href=link.href,
          class=(link.href === activePage ? 'header__nav-link--active' : '')
        )= link.text
    .header__logo
      p= logoText

mixin footer()
  footer.footer
    p Группа: #{group} | Разработчик: #{developer}

mixin tableRow(row)
  tr
    each val in row
      td= val

mixin creaturesTable(head, list)
  table.creatures-table(border='1' cellpadding='5' cellspacing='0')
    thead
      tr
        each h in head
          th= h
    tbody
      each c in list
        +tableRow(Object.values(c))

mixin sidebarItem(c)
  .sidebar-item(class=c.alt ? 'sidebar-item--alt' : '')
    .sidebar-item__inner
      .sidebar-item__header= c.name
      p.sidebar-item__text= c.text
      a.sidebar-item__link(href=c.link) Подробнее
      img.sidebar-item__img(src=c.img, alt=c.name)
